* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.app {
    background: lightgray;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
}

/* ================= CONTROLS ================= */

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
}

.controls button {
    padding: 8px 14px;
    font-size: 15px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    background: #b4b4b4;
}

.controls button:hover:not(#notes-toggle) {
    background: violet;
    color: white;
}



.new-game,
.actions {
    display: flex;
    gap: 10px;
}

/* ================= SUDOKU ================= */

.sudoku {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 3px solid black;
}

/* pojedyncza komórka */
.cell {
    position: relative;
    border: 1px solid #aaa;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: white;
}

.cell:nth-child(3n) {
    border-right: 3px solid black;
}

.cell:nth-child(n+19):nth-child(-n+27),
.cell:nth-child(n+46):nth-child(-n+54),
.cell:nth-child(n+73):nth-child(-n+81) {
    border-bottom: 3px solid black;
}

.cell:nth-child(9n) {
    border-right: 3px solid black;
}

/* STARTOWE KOMÓRKI */
.cell.fixed {
    font-weight: bold;
}

/* POPRAWNE PO SPRAWDZENIU */
.cell.correct {
    color: green;
}

/* BŁĘDNE PO SPRAWDZENIU */
.cell.wrong {
    background-color: #ffcccc !important;
}

.cell.wrong.selected {
    background-color: #ffb5b5 !important;
}

.cell.correct.selected {
    color: green;
}

/* ================= VALUE ================= */

.cell-value {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ================= NOTES ================= */

.cell-notes {
    position: absolute;
    inset: 2px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-size: 15px;
    color: #555;
}

.cell-notes span {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

/* aktywna notatka */
.cell-notes span.active {
    opacity: 1;
}

.cell-notes span.same-note {
    font-weight: 900;
    color: #000;
}

/* gdy wpisana jest wartość – notatki znikają */
.cell.filled .cell-notes {
    display: none;
}

#notes-toggle.active-notes {
    background: black;
    color: white;
}

/* ================= STATES ================= */

.cell.selected {
    background: #b7caff !important;
}


/* ================= NUMBERS ================= */

.numbers {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    width: 100%;
    margin-top: 20px;
    gap: 6px;
}

.numbers button {
    padding: 8px 1 4px;
    height: 50px;
    font-size: 25px;
    border: none;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    background: #b4b4b4;
}

.app:has(#notes-toggle.active-notes) .numbers button {
    font-size: 18px;
}

.numbers button:hover {
    background: violet;
    color: white;
}

.difficulty-active {
    background: violet !important;
    color: white;
}

.effects {
    display: flex;
    gap: 12px;
    margin-top: 30px;
}

.effects button {
    height: 60px;
    font-size: 20px;
    padding: 8px 14px;
    border: none;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    background: #b4b4b4;
}

.effects button:hover {
    background: violet;
    color: white;
}

/* ================= STATS ================= */

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 20px;
}

.stat {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

/* AKTYWNY TRYB NOTATEK */
#notes-toggle.active-notes {
    background-color: black;
    color: white;
}


.cell.highlight {
    background: #dce5ff;
}

.cell.same-number {
    background: #b7caff;
}

.cell-notes span.hint-note {
    color: green !important;
    font-weight: bold !important;
    font-size: 20px;
}

/* ================= MOBILE ================= */

@media (max-width: 1000px) {

    body {
        padding: 8px;
    }

    h1 {
        font-size: 9vw;
        margin-bottom: 18px;
    }

    .app {
        width: 100%;
        max-width: 100%;
        padding: 12px;
        border-radius: 0;
    }

    .sudoku {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .cell-value {
        font-size: 6vw;
    }

    .cell-notes {
        font-size: 2.6vw;
    }

    .controls button {
        font-size: 2.5vw;
    }

    .controls {
        flex-wrap: wrap;
        gap: 8px;
    }

    .controls button {
        font-size: 3vw;
        padding: 6px 10px;
        height: 7vw;
    }

    .numbers {
        width: 100%;
    }

    .numbers button {
        font-size: 6vw;
        height: 10vw;
    }

    .app:has(#notes-toggle.active-notes) .numbers button {
        font-size: 4vw;
    }

    .effects {
        gap: 8px;
    }

    .effects button {
        font-size: 4vw;
        flex: 1;
        height: 10vw;
    }

    .stats {
        width: 100%;
        font-size: 4vw;
    }

    .cell-notes span.hint-note {
        color: green !important;
        font-weight: bold !important;
        font-size: 3vw;
    }
}
