* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: white;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.app {
    background: lightgray;
    padding: 20px 30px 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* ================= CONTROLS ================= */

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
}

.controls button {
    padding: 8px 14px;
    font-size: 15px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    background: #b4b4b4;
}

.controls button:hover {
    background: #1a68d1;
    color: white;
}

.new-game,
.actions {
    display: flex;
    gap: 10px;
}

/* ================= SUDOKU ================= */

.sudoku {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: min(95 vw, 540px);
    aspect-ratio: 1/1;
    border: 3px solid black;
}

/* pojedyncza komórka */
.cell {
    position: relative;
    border: 1px solid #aaa;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: white;
}

.cell:nth-child(3n) {
    border-right: 3px solid black;
}

.cell:nth-child(n+19):nth-child(-n+27),
.cell:nth-child(n+46):nth-child(-n+54),
.cell:nth-child(n+73):nth-child(-n+81) {
    border-bottom: 3px solid black;
}

.cell:nth-child(9n) {
    border-right: 3px solid black;
}

/* STARTOWE KOMÓRKI */
.cell.fixed {
    background-color: #e0e0e0;
    font-weight: bold;
}

/* POPRAWNE PO SPRAWDZENIU */
.cell.correct {
    background-color: #ccffcc !important;
}

/* BŁĘDNE PO SPRAWDZENIU */
.cell.wrong {
    background-color: #ffcccc !important;
}

.cell.selected.wrong {
    background-color: #ffcccc;
}

.cell.selected.correct {
    background-color: #ccffcc;
}

/* ================= VALUE ================= */

.cell-value {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ================= NOTES ================= */

.cell-notes {
    position: absolute;
    inset: 2px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-size: 15px;
    color: #555;
}

.cell-notes span {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

/* aktywna notatka */
.cell-notes span.active {
    opacity: 1;
}

/* gdy wpisana jest wartość – notatki znikają */
.cell.filled .cell-notes {
    display: none;
}

/* ================= STATES ================= */

.cell.selected {
    background: #b7caff !important;
}


/* ================= NUMBERS ================= */

.numbers {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    width: min(95vw, 540px);
    margin-top: 20px;
    gap: 6px;
}

.numbers button {
    padding: 8px 14px;
    height: 50px;
    font-size: 20px;
    border: none;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    background: #b4b4b4;
}

.numbers button:hover {
    background: #1a68d1;
    color: white;
}


.effects {
    display: flex;
    gap: 12px;
    margin-top: 15px;
}

.effects button {
    height: 50px;
    font-size: 20px;
    padding: 8px 14px;
    border: none;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    background: #b4b4b4;
}

.effects button:hover {
    background: #1a68d1;
    color: white;
}

/* ================= STATS ================= */

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.stat {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
}

/* AKTYWNY TRYB NOTATEK */
#notes-toggle.active-notes {
    background-color: black;
    color: white;
}


.cell.highlight {
    background: #dce5ff;
}

.cell.same-number {
    background: #b7caff;
}

/* ================= MOBILE ================= */

@media (max-width: 600px) {

    body {
        padding: 10px;
    }

    .app {
        width: 100%;
        padding: 15px;
    }

    .sudoku {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .cell {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .numbers {
        width: 100%;
    }

}
